@import url('tailwind.css');
@import url('fonts.css');

@layer base {
    body {
        font-family: 'IBMPlexMono', monospace;
        background-color: #070014;
        background-image: url("/images/circuit.svg");
        @apply scroll-smooth
    }
}
